.footer-container {
  background-color: #f5f5f5;
  padding: 4rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-nomes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 24px;
  padding: 24px;
  color: #343434;
}

a {
  color: #343434;
}

.footer-nomes > p {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.footer-nomes-heading {
  margin-bottom: 24px;
  font-size: 20px;
}

.footer-nomes-heading strong {
  display: block;
  margin-bottom: 7px;
}

.footer-nomes-text {
  margin-bottom: 24px;
  font-size: 20px;
}


@media screen and (max-width: 820px) {

}

@media screen and (max-width: 768px) {
}