body {
    background-color: #ffffff;
}


.capa {
    width: 100%;
    height: 200px;
    background-color: #dac861;
}

.foto-perfil {
    width: 150px;
    height: 150px;
    background-image: url('/img/avatar.png');
    background-size: cover;
    background-position: center;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
}

.nome-usuario {
    font-size: 25px;
    text-align: center;
    margin-top: 105px;
}

.texto-opcao {
    font-size: 18px;
    text-align: center;
    margin-top: 15px;
}

.botoes {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 100px;
}

.botao {
  width: 120px;
  height: 120px;
  font-size: 18px;
  font-weight: bold;
  background-color: #ffffff;
  border: 2px solid #343434;
  border-radius: 10px;
  color: #343434; ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 20px; 
  text-decoration: none;
}

.botao:hover {
    background-color: #08a4ff;
    color: #ffffff;
    border-color: transparent;
    transition: 0.3s;
}

/*mobile*/
@media screen and (max-width: 767px){
    .botoes {
        display: flex;
        margin-top: 30px;
        margin-bottom: 30px;
        flex-direction: column;
        align-items: center;
    }

    .botao {
        margin-bottom: 10px;
    }
}
  
/* tablet */
@media screen and (min-width: 768px) and (max-width:1023px){
    .botoes {
        display: flex;
    }
}