.entrar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #08a4ff;
}

form {
    background-color: white;
    padding: 40px 60px;
    border-radius: 10px;
}

p {
    text-align: right;
    margin-top: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 5px 0px;
}

p a {
    color: #08a4ff;
    text-decoration: underline;
}

h1 {
    margin-top: 30px;
    color: #353535;
    text-align: center;
}

button {
    width: 100%;
    height: 50px;
    padding: 10px;
    border: none;
    background-color: #08a4ff;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 30px;
}



/* mobile*/
@media screen and (max-width: 786px){
    .cards__item {
      margin-bottom: 2rem;
    }
    .cards p {
      text-align: center;
      font-size: 16px;
      margin-left: 10px;
      margin-right: 10px; 
    }
  }
  
  /* tablet */
  @media screen and (min-width: 768px) and (max-width: 1023px){
    .cards__item {
      margin-bottom: 2rem;
    }
    p {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 50;
    }
}